body, input, textarea {
  font-family: Arial, sans-serif;
  font-size: medium;
}

div#description {
  max-width: 700px;
}

img#logo {
  float: right;
}

a img {
  border: none;
}

select, input[type=text] {
  border: 1px solid gray;
}

#sources {
  border-spacing: .2em .2em;
}

#sources * {
  vertical-align: middle;
}

input[type="submit"] {
  margin-right: .5em;
  margin-top: .5em;
}

select, input[type="submit"], input[type="text"] {
  margin: .3em;
}
